  <h1>Stupid Coaching</h1>

    <blockquote class="blockquote">
        <%= @message %>
          <figcaption class="blockquote-footer my-1">
            <cite title="Source Title"> You</cite>
        </figcaption>
    </blockquote>

    <blockquote class="blockquote alert-warning">
      <%= @response  %>
        <figcaption class="blockquote-footer my-1">
          <cite title="Source Title">Your coach</cite>
      </figcaption>
    </blockquote>

<div class=" text-decoration-none:">
 <%= link_to "Ask a new question", ask_path %>
</div>
